# PostgreSQL připojení
DATABASE_URL="postgresql://user:password@localhost:5432/wow_mplus_app"

# NextAuth
NEXTAUTH_SECRET="vygeneruj-nahodny-retezec-napr-pomoci-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Discord webhook (pro pozdější napojení notifikací)
DISCORD_WEBHOOK_URL=""

# Raider.io API base (veřejné, bez klíče)
RAIDERIO_API_BASE="https://raider.io/api/v1"
